pkgbase = archlinux-msm8916
	pkgdesc = Arch Linux on MSM8916
	pkgver = 1
	pkgrel = 4
	url = https://github.com/samcday/archlinux-msm8916
	arch = any
	license = MIT
	depends = dracut
	depends = linux-firmware-qcom
	depends = msm-firmware-loader
	source = dracut.conf
	source = tm2-touchkey-leds.rules
	sha256sums = 2ed979b8ade891895889f43819acefa39d13d9fb1c2cbcc415d22b87ea2c7a75
	sha256sums = e67f52aa0e7c1d8e276485f134bac91ad10c3410f17c1d5f5e6d429e2b2a5444

pkgname = archlinux-msm8916
