pkgbase = archlinux-msm8916
	pkgdesc = Arch Linux on MSM8916
	pkgver = 1
	pkgrel = 4
	url = https://github.com/samcday/archlinux-msm8916
	arch = any
	license = MIT
	depends = dracut
	depends = linux-firmware-qcom
	depends = msm-firmware-loader
	conflicts = mkinitcpio
	source = dracut.conf
	sha256sums = ba57b8a3fdd4d74540a3a67d8196ef7ada07f43343273d9add1f7f8412262b3b

pkgname = archlinux-msm8916
